modules = ["nodejs-20", "postgresql-16", "python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NEXT_PUBLIC_VAPID_PUBLIC_KEY = "BAEN2EGi2BH3Dyy80hgM3waswp58XktMnl_43c5YFgneGVVu51onMrDLoGUOhNVuzDRRWFtw56UaAXz1K4SpGSk"
VAPID_PRIVATE_KEY = "8M1HJcA9tCi9H0Duwh0nnNw4E8xMqqXEcDPdiXGZjs4"
